
@import "swiper/css";
@import "swiper/css/effect-cards";
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
    max-width: 550px;
    width: 90vw;
    height: 75vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color:sandybrown
}

.swiper-slide:nth-child(2n) {
  background-color: goldenrod;
}

.swiper-slide:nth-child(3n) {
  background-color: peru;
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color:greenyellow;
}

.swiper-slide:nth-child(6n) {
  background-color:green;
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color:aquamarine
}

.swiper-slide:nth-child(9n) {
  background-color:cornflowerblue
}

.swiper-slide:nth-child(10n) {
  background-color:deepskyblue
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}
.cardImage{
    height: 60vh;
    text-align: center;
}

ion-card{
    text-align: center;
}
.cardbuttons{
    right: 30px;
    top: 30px;
}
