<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
  <ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2Fcapy1.jpg?alt=media&token=4d5ee5e5-d385-46da-b593-6ab06494af69" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[0] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[0] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy2.jpg?alt=media&token=9591643e-fbd2-4702-bf92-5147a0bd0952" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[1] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[1] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy3.jpg?alt=media&token=7c6cbcfb-1035-4395-9360-cb290b236fd7" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[2] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[2] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy4.jpg?alt=media&token=97fd069d-f1db-4bcb-9817-18a6fe2b5256" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[3] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[3] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy5.jpg?alt=media&token=c219aeae-57ab-409a-9198-6cef0b2ff9ee" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[4] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[4] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy6.jpg?alt=media&token=415fda0d-b81a-4a0a-80a2-a268ea421f2c" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[5] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[5] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy7.jpg?alt=media&token=8df677cc-055c-46bb-9235-90d3e55a5c30" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[6] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[6] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy8.jpg?alt=media&token=352de511-4072-491d-81d3-74970df45edb" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[7] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[7] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy9.jpg?alt=media&token=d1cd6ed9-f3ac-4017-96a4-577d9a2c6234" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[8] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[8] }}
      </ion-card-content>
    </ion-card>
  </ng-template>
  ><ng-template swiperSlide>
    <ion-fab slot="fixed" horizontal="end" vertical="top" class="cardbuttons">
      <ion-fab-button color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button color="dark">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <img src="https://firebasestorage.googleapis.com/v0/b/swap-spots.appspot.com/o/Images%2FCapy10.jpg?alt=media&token=e63e13ac-c17f-476f-9941-d2d14abd84c4" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[9] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[9] }}
      </ion-card-content>
    </ion-card>
  </ng-template>
</swiper>