<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
  <ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card1.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[0] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[0] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card2.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[1] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[1] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card3.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[2] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[2] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card4.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[3] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[3] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card5.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[4] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[4] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card6.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[5] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[5] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card7.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[6] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[6] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card8.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[7] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[7] }}
      </ion-card-content>
    </ion-card>
  </ng-template
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card9.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[8] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[8] }}
      </ion-card-content>
    </ion-card>
  </ng-template>
  ><ng-template swiperSlide>
    <ion-card>
      <img src="assets/Card10.jpg" class="cardImage">
      <ion-card-header>
        <ion-card-title>{{ titles[9] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ captions[9] }}
      </ion-card-content>
    </ion-card>
  </ng-template>
</swiper>